@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,700;1,400&family=Noto+Serif+Display:wght@300;400;600;700;900&display=swap");
@import "aos/dist/aos.css";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
:root {
  // Color
  --color-primary-blue: #a0c0c8;
  --color-white-text: #fff;
  --color-grey-text: #554c58;

  // Font-family
  --ff-body: "Bodoni Moda", serif;
  --ff-heading: "Noto Serif Display", serif;

  // text-shadow
  --text-shadow: rgb(0 0 0 / 10%) 4px 4px;
}

// BREAK POINTS
$bp-huge: 68.75em; // 1100px
$bp-big: 56.25em; // 900px
$bp-md: 43.75em; // 700px
$bp-sm: 31.25em; // 500px

//mixin
@mixin mediaQuery($bp) {
  @media only screen and (max-width: $bp) {
    @content;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include mediaQuery($bp-huge) {
    font-size: 50%;
  }
}

body {
  font-family: var(--ff-body);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

section {
  padding: 8rem 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 100rem;
  width: calc(100% - 4rem);
  margin-inline: auto;
}

.section-heading,
.section-subheading,
.heading,
.btn {
  font-family: var(--ff-heading);
}

.section-heading {
  font-size: 8rem;
  color: var(--color-primary);
  text-shadow: var(--text-shadow);

  @include mediaQuery($bp-md) {
    font-size: 6rem;
  }
  @include mediaQuery($bp-sm) {
    font-size: 4.5rem;
  }
}
.section-subheading {
  font-size: 3rem;
  color: var(--color-secondary);
  text-shadow: var(--text-shadow);

  @include mediaQuery($bp-md) {
    font-size: 2.5rem;
  }
}

hr {
  border: none;
}
